<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>Project</title>
    <link rel="stylesheet" href="/basic/styles.css" />
  </head>
  <body>
    <h1 class="text-align-center">PROJECT</h1>
    <div>
      <input type="checkbox" id="autoCow" name="scales" />
      <label for="scales">AutoCowKill</label>
    </div>
    <canvas id="glCanvas" width="2000" height="2000"></canvas>
    <div id="divcontainer"></div>
    <script src="/basic/bundle.js"></script>
  </body>
</html>
